<div class="container">
    <div class="row">
        <div class="col-12">
        <p>Is the video ({{ video.video_id }}) interesting in relation to the news piece?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
        <button (click)="vote(1)" class="btn btn-success" [disabled]="voted">YES</button>
        </div>

        <div class="col-5">
        <button (click)="vote(0)" class="btn btn-danger" [disabled]="voted">NO</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <span class="badge badge-primary">Total score: {{ totalScore }}</span>
        </div>
    </div>
</div>
