<div class="container">
<div class="row">
    <div class="col">
        <div *ngIf="customSources">
            <h3>Custom sources</h3>
            <ul class="list-group">
                <li *ngFor="let source of customSources; let i = index" class="list-group-item">
                <div class="row">
                    
                    <div class="col">
                    <span class="badge badge-secondary">Name:</span>
                    {{ source.name }} 
                    </div>
                    <div class="col">
                    <span class="badge badge-secondary">Country:</span>
                    {{ source.country }}
                    </div>
                    <div class="col">
                    <span class="badge badge-secondary">URL:</span>
                    {{ source.url }} 
                    </div>
                    <div class="col">
                    <button (click)="edit(i)" class="btn btn-info m-2" id="editButton">Edit</button> <button (click)="delete(i)" class="btn btn-danger m-2" id="deleteButton">Delete</button>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <!-- add source from form -->
    <app-add-sources-detail source="currentCustomSource" style="width: 100%"></app-add-sources-detail>
</div>
</div>