<div *ngIf="sourcesNameList">
  <ul class="list-inline">
    <li *ngFor="let source of sourcesNameList; let i = index" class="list-inline-item list-inline-item-info">
      <button class="btn btn-info btn-sm" (click)="changeSource(source);">{{ source }}</button>
    </li>
  </ul>
</div>