<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-sources-nav></app-sources-nav>
    </div>
  </div>
  <div class="row" *ngIf="currentVideo;else other_content">
    <div class="row">
      <div class="col">
        <app-video-player [video]="currentVideo" (playerEvent)="nextVideo()" [news]="fullNewsText" style="width: 100%"></app-video-player>
      </div>
    </div>
  </div>
  <ng-template #other_content><h1>LOADING DATA...</h1>
  </ng-template>

  <div class="row">
      <div class="col">
        <h3>TV AI NEWS - Artificial Intelligence News Generation platform - radiolondra@gmx.com</h3>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <nav>
          <button class="btn btn-info m-2" routerLink="live/sources">Sources</button>
          <button class="btn btn-info m-2" routerLink="live/comment">Add comment</button>
          <!--<button class="btn btn-info m-2" routerLink="/add-sources">Add Source</button> -->
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div> 
  

</div>

