<div class="container">
    <h3>Add sources form</h3>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="mb-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input [ngModel]="source.name" type="text" class="form-control" name="name" required>
      </div>
 
      <div class="form-group">
        <label for="country">Country</label>
        <input [ngModel]="source.country" type="text" class="form-control" name="country">
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <input [ngModel]="source.url" type="text" class="form-control" name="url">
      </div>

      <div class="form-group">
        <label for="rules">Rules</label>
        <input [ngModel]="source.rules" type="textarea" class="form-control" name="rules">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>