<div *ngIf="sourcesList" class="container">
<h2>Available sources</h2>
    <ul class="list-group">
        <li *ngFor="let source of sourcesList; let i = index" class="list-group-item list-group-item-info">
            <form (ngSubmit)="onSubmit(submittedForm)" #submitted_form="ngForm">
                <div class="row">
                    <div class="col">
                        <input type="hidden" [ngModel]="i" name="index">
                        <label><span>name:</span> 
                            <input 
                                [(ngModel)]="source._id" placeholder="source._id" name="name" [readonly]="true" disabled>   
                        </label>
                    </div>
                    <div class="col">
                    <label>country: 
                    <input 
                        placeholder="{{ source.country }}" name="country-{{ i }}" [readonly]="true" disabled>
                    </label>
                    </div>
                    <div class="col">
                        <label>Total videos: 
                        {{source.count}}
                        </label>
                    </div>
                    <div class="col">
                        <button type="submit" [disabled]="edited" class="btn">Rename</button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
