<div *ngIf="source" class="container">
    <b>Latest {{ source.country | uppercase }} trends overtime [BETA]:</b>
    <ul class="list-inline">
        <li *ngFor="let trend of source.stats.most_used_terms; let last = last; let i = index" class="list-inline-item list-inline-item-info">
            <div class="row">
                <div class="col">
                     {{ trend._id }}<span *ngIf="!last">,</span> 
                </div>
            </div>
        </li>
    </ul>
</div>
