<div class="container">
    <h3>Add comment</h3>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="mb-3">
      <div class="form-group">
        <label for="email">Email (optional)</label>
        <input ngModel type="email" class="form-control" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
      </div>

      <div class="form-group">
        <label for="comment">Comment on platform or video</label>
        <input ngModel type="textarea" class="form-control" name="comment" required>
      </div>
 
      <button type="submit" class="btn btn-success">Send</button>
 
    </form>
</div>