<div  class="container-fluid">
    <div class="row mt-1">

        <div class="col-md-auto">
            <div class="btn-info btn-lg">
            {{ video.date | date }}
            </div>
        </div>
        <div class="col">
            <div class="btn-danger btn-lg">
            {{ video.source }}:
            {{ video.description }}
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-9 m-1 videoplayer">
            <youtube-player class="embed-responsive embed-responsive-16by9"
              [videoId]="video.video_id"
              (ready)="savePlayer($event)"
              (change)="onStateChange($event)"
            ></youtube-player>
        </div>
        <div class="col">
                <div class="card m-2">
                    <div class="card-body">
                        <p class="card-text">
                            <app-video-data [video]="video"></app-video-data>
                        </p>   
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <button class="btn btn-success" (click)="nextVideo()">Next Video</button>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <app-trending></app-trending>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <marquee id="scroller" class="btn-danger btn-lg">{{ news }}</marquee>
        </div>
    </div>
</div>
